node_modules
.env
.DS_Store
.vscode
dist
coverage
npm-debug.log
yarn-error.log
.idea
*.local
*.log
*.tmp
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.cache
*.tsbuildinfo